$color_1: #000;
$color_2: inherit;
$color_3: #555;
$color_4: #8b62ff;
$color_5: #5216ff;
$color_6: #0c0633;
$color_7: #777;
$color_8: #652fff;
$color_9: #fff;
$color_10: #e6e6e6;
$color_11: #31708f;
$color_12: #245269;
$color_13: #8a6d3b;
$color_14: #66512c;
$color_15: #c7254e;
$color_16: #333;
$color_17: #999;
$color_18: #959595;
$color_19: #5cb85c;
$color_20: #ffc105;
$color_21: #f0ad4e;
$color_22: #d9534f;
$color_23: #262626;
$color_24: #5e5e5e;
$color_25: #ccc;
$color_26: #9d9d9d;
$color_27: #444;
$color_28: transparent;
$font_family_1: sans-serif;
$font_family_2: monospace, monospace;
$font_family_3: Fira Sans, Helvetica, Arial, sans-serif;
$font_family_4: inherit;
$font_family_5: Menlo, Monaco, Consolas, Courier New, monospace;
$font_family_6: serif;
$font_family_7: La Belle Aurore, cursive;
$font_family_8: FontAwesome;
$background_color_1: transparent;
$background_color_2: #fff;
$background_color_3: #fcf8e3;
$background_color_4: #8b62ff;
$background_color_5: #652fff;
$background_color_6: #005bff;
$background_color_7: #0049cc;
$background_color_8: #d9edf7;
$background_color_9: #afd9ee;
$background_color_10: #f7ecb5;
$background_color_11: #fe6767;
$background_color_12: #fe3434;
$background_color_13: #f9f2f4;
$background_color_14: #333;
$background_color_15: #f5f5f5;
$background_color_16: #f9f9f9;
$background_color_17: #e8e8e8;
$background_color_18: #0052e6;
$background_color_19: #c4e3f3;
$background_color_20: #faf2cc;
$background_color_21: #fe4e4e;
$background_color_22: #eee;
$background_color_23: #e6e6e6;
$background_color_24: #d4d4d4;
$background_color_25: #4b0bff;
$background_color_26: #5cb85c;
$background_color_27: #449d44;
$background_color_28: #398439;
$background_color_29: #ffc105;
$background_color_30: #d19d00;
$background_color_31: #ad8200;
$background_color_32: #f0ad4e;
$background_color_33: #ec971f;
$background_color_34: #d58512;
$background_color_35: #d9534f;
$background_color_36: #c9302c;
$background_color_37: #ac2925;
$background_color_38: #e5e5e5;
$background_color_39: #ddd;
$background_color_40: #888;
$background_color_41: #222;
$background_color_42: #090909;
$background_color_43: #777;
$background_color_44: #5e5e5e;
$background_color_45: #000 ;
$background_color_46: #0c0633;
$background_color_47: rgba(0, 0, 0, 0.2);
$background_color_48: grey;
$background_color_49: #4e74ff;
$background_color_50: #3cbffa;
$background_color_51: #1f2946;
$border_color_1: #66afe9;
$border_color_2: #fff;
$border_color_3: #e6e6e6;
$border_color_4: #8a6d3b;
$border_color_5: #66512c;
$border_color_6: #ccc;
$border_color_7: #8c8c8c;
$border_color_8: #adadad;
$border_color_9: #8b62ff;
$border_color_10: #3b00e2;
$border_color_11: #5e25ff;
$border_color_12: #5cb85c;
$border_color_13: #2d672d;
$border_color_14: #419641;
$border_color_15: #ffc105;
$border_color_16: #856400;
$border_color_17: #c79500;
$border_color_18: #f0ad4e;
$border_color_19: #b06d0f;
$border_color_20: #eb9316;
$border_color_21: #d9534f;
$border_color_22: #8b211e;
$border_color_23: #c12e2a;
$border_color_24: transparent;
$border_color_25: #eee #eee #ddd;
$border_color_26: #eee;
$border_color_27: #ddd;
$border_color_28: #090909;
$border_color_29: #333;
$border_color_30: #101010;
$border_color_31: #005bff;
$border_color_32: #bce8f1;
$border_color_33: #faebcc;
$border_color_34: #fe6767;
$border_top_color_1: #000;
$border_top_color_2: #0052e6;
$border_top_color_3: #a6e1ec;
$border_top_color_4: #f7e1b5;
$border_top_color_5: #fe4e4e;
$border_bottom_color_1: transparent;
$border_bottom_color_2: #fff;